.ipynb_checkpoints
./.ipynb_checkpoints/*
./*/.ipynb_checkpoints/*
./*/*/.ipynb_checkpoints/*
env.yaml
./.env.yaml
./*/.env.yaml
./*/*/.env.yaml
env.sh
./.env.sh
./*/.env.sh
./*/*/.env.sh
./*.tfstate
./*/*.tfstate
./*/*/*.tfstate
./.*.hcl
./*/.*.hcl
./*.tfstate*
./*/*.tfstate*
